<header class="header">
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="middle-inner">
                        <div class="row">
                            <div class="col-lg-2 col-md-3 col-12">
                                <div class="logo">
                                    <a href="/" style="font-size:15px">
                                        <img src="{THEME}/images/head_logo.webp" width="100" height="100" alt="images"/>
                                    </a>
                                </div>
                                <div class="mobile-nav"></div>
                                </div>
    
                                <div class="col-lg-10 col-md-9 col-12">
                                    <div class="menu-area">
                                        <nav class="navbar navbar-expand-lg">
                                            <div class="navbar-collapse">	
                                                <div class="nav-inner">	
                                                    <div class="menu-home-menu-container">
                                                        <ul id="nav" class="nav main-menu menu navbar-nav">
                                                            <li><a href="/">[home]</a></li>
                                                            <li><a href="/uslugi.html">[services]</a></li>
                                                            <li><a href="/pricing.html">[projects]</a></li>
                                                            <li><a href="/portfolio.html">[aviasales]</a></li>
                                                            <li><a href="/index.php?do=feedback">[contacts]</a></li>
                                                            <li><a href="/about.html">[aboutus]</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
    
                                        <div class="right-bar"><i class="fa fa-globe"> </i>
                                            <a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            [language]
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item m-0" style="height:35px; margin-bottom:20px" href="?lang=en"><img src="uploads/icons/en.png" /> English</a>
                                                <a class="dropdown-item m-0" style="height:35px" href="?lang=ru"><img src="uploads/icons/ru.png" /> Русский</a>
                                                <a class="dropdown-item m-0" style="height:35px" href="?lang=tm"><img src="uploads/icons/tm.png" /> Türkmençe</a>
                                            </ul>
                                        </div>
                                        <div class="search-top">
                                            <form class="search-form" method="post">
                                            <input type="hidden" name="do" value="search" />
                                            <input type="hidden" name="subaction" value="search" />
                                            <input type="text" name="story" id="story" placeholder="Поиск по сайту"/>
                                            <button type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>